@model DLEVEL.Models.Staff

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Staff</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.staff_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.staff_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.company_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.company_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.age)
        </dd>
        
    <dt>
        @Html.DisplayNameFor(model => model.AspNetUser.Email)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.AspNetUser.Email)
    </dd>
       
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.user_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
